@charset "UTF-8";
/* CSS Document */

/* PROFILE */

.profile.large{display: block; margin: 0 auto; border-radius:50%; width:256px; height:256px; overflow: hidden;}

/* END: Profile*/

.profileControl{display:block;position:absolute;top:40%;font-size:63px;margin-top:-68px;font-weight:lighter;opacity:0.36;color:#bbb;}
.profileControl.left{left:5%;}
.profileControl.right{right:5%;}

.commentProfilePic { width:64px;height:64px;float:left;margin-right:14px; margin-top:-14px; border-radius:50%; float:right; }
.voteAnswer.lead { font-size:64px; }

.comment { text-align: left; background: #fff; padding:10px 14px; border-radius: 7px; border: solid 1px #f3f3f3; position: relative;  }
.comment .btn {margin-top:18px; clear:both;}

.comment:after, .comment:before {
  right: 100%;
  top: 32px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.comment:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 8px;
  margin-top: -8px;
}
.comment:before {
  border-color: rgba(243, 243, 243, 0);
  border-right-color: #f3f3f3;
  border-width: 9px;
  margin-top: -9px;
}

@media (max-width: 768px) { .profileControl.left{left:2px;}.profileControl.right{right:2px;} }

.profileControl:hover{cursor:pointer;opacity:1;-webkit-transition:opacity .1s ease;}

.carousel{ height:240px;}
.carousel .profilePic{position:absolute;top:0;}
.carousel .profilePic.active{left:50%;margin-left:-90px;}

.carouselWrap {
  margin: 0 auto;
  width: 100%;
  height: 240px;
  position: relative;
  perspective: 1000px;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  top:36px;
  transform-style: preserve-3d;
  transition: transform 0.42s cubic-bezier(0.455, 0.03, 0.515, 0.955); /*Transition Easing: cubic-bezier(0.175, 0.885, 0.32, 1.275)*/
}

.carousel figure {
	display: block;
	position: absolute;
	width: 180px;
	height: 180px;
	overflow:hidden;
	margin:0 auto;
}

.carousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(240px);
}
.carousel figure:nth-child(2) {
  transform: rotateY(60deg) translateZ(240px);
}
.carousel figure:nth-child(3) {
  transform: rotateY(120deg) translateZ(240px);
}
.carousel figure:nth-child(4) {
  transform: rotateY(180deg) translateZ(240px);
}
.carousel figure:nth-child(5) {
  transform: rotateY(240deg) translateZ(240px);
} 
.carousel figure:nth-child(6) {
  transform: rotateY(300deg) translateZ(240px);
}