@import url('register.css');
@import url('interests.css');
@import url('dashboard.css');
@import url('nav.css');

/* Space out content a bit */
body {
  /*padding-top: 0px;*/
  padding-bottom: 20px;
}

/* Custom page header */
.navbar {
  border-radius: 0px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
	padding-left: 15px;
	padding-right: 15px;
}

/* Custom page header */
.header {
	border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.loading{display:block;clear:both;width:100%;margin:0;padding:18px 0;height:64px;background:transparent url(/images/loadingGif64.gif) center center no-repeat;}
.loading32{background-image: url(/images/loadingGif32.gif)}
.loading24{background-image: url(/images/loadingGif24.gif)}
.loading48.light{background-image: url(/images/loadingGifLight48.gif)}
.loading24.light{background-image: url(/images/loadingGifLight24.gif)}

.clickable:hover { cursor:pointer; }

.uppercase { text-transform: uppercase; }
.giant { font-size: 46px; }

.lighter { color: #ccc; }
.light { color: #888; }
.grey { color: #262D31; }
.green { color: #16a085; }
.red { color: #c44133; }

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
