
<div class="row-fluid clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h3>Our Mission</h3>
		<p>This is the about view.</p>
	</div>
</div>


<div class="row-fluid clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="tile">
			<h3 class="tile-title">Official Access</h3>
			<p class="text-center">Are you an elected official or their staff? Click here to request access.</p>
			<a class="btn btn-primary btn-large btn-block" href="mailto:info@tldrgov.com" target="_blank">Get An Official Account</a>
		</div>
	</div>
</div>