<!--BEGIN: Mobile/Tablet nav version -->
<nav class="navbar navbar-inverse navbar-embossed noselect" role="navigation" ng-class="{searchMode : searchMode}">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
			<span class="sr-only">menu</span>
		</button>
		<a class="navbar-brand" href="#/dashboard">tl;dr</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav navbar-left">
            <li ng-class="{active : location == '/interests'}"><a ng-href="#/interests"><i class="icon fui-heart"></i> Interests</a></li>
            <li ng-class="{active : location == '/dashboard'}"><a ng-href="#/dashboard"><i class="icon fui-list-large-thumbnails"></i> Dashboard</a></li>
            <li ng-class="{active : location == '/issueCreation'}"><a ng-href="#/issueCreation"><i class="icon fui-new"></i> New Issue</a></li>
            <li ng-class="{active : location == '/stafferDashboard'}"><a ng-href="#/stafferDashboard"><i class="icon fui-new"></i> Staffer Dashboard</a></li>
            <li class="dropdown">
            <a href class="dropdown-toggle" data-toggle="dropdown"><i class="icon fui-gear"></i> Settings <b class="caret"></b></a>
                <span class="dropdown-arrow"></span>
                <ul class="dropdown-menu">
					<li ng-class="{active : location == '/mySettings'}"><a ng-href="#/mySettings">My Settings</a></li>
                    <li ng-class="{active : location == '/about'}"><a ng-href="#/about">Help</a></li>
                </ul>
            </li>
        </ul>
		<!-- <form class="navbar-form navbar-right" action="#" role="search">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" id="navbarInput-01" type="search" placeholder="Search" ng-focus="setSearching(true)" ng-blur="setSearching(false)">
                    <span class="input-group-btn">
						<button type="submit" class="btn"><span class="fui-search"></span></button>
                    </span>
                </div>
            </div>
		</form> -->
    </div><!-- /.navbar-collapse -->
</nav>
<!--END: Mobile/tablet nav -->