<!--BEGIN: Mobile/Tablet nav version -->
<div ng-hide='authData' ng-controller='NavBarCtrl'>
    <nav class="navbar navbar-inverse navbar-embossed noselect" role="navigation" ng-class="{searchMode : searchMode}">
    	<div class="navbar-header">
    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
    			<span class="sr-only">menu</span>
    		</button>
    		<a class="navbar-brand" href="#/dashboard">tl;dr</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav navbar-left">
                <li ng-class="{active : location == '/dashboard'}"><a ng-href="#/dashboard"><i class="icon fui-document"></i> Dashboard</a></li>
                <li ng-class="{active : location == '/about'}"><a ng-href="#/about"><i class="icon fui-info-circle"></i>About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{active : location == '/login'}"><a ng-href="#/login"><i class="icon fui-lock"></i>Login</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
    <!--END: Mobile/tablet nav -->
</div>
<div ng-show='authData' ng-controller='NavBarCtrl'>
    <nav class="navbar navbar-inverse navbar-embossed noselect" role="navigation" ng-class="{searchMode : searchMode}">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">menu</span>
            </button>
            <a class="navbar-brand" href="#/dashboard">tl;dr</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav navbar-left">
                <li ng-class="{active : location == '/dashboard'}"><a ng-href="#/stafferDashboard"><i class="icon fui-document"></i> Dashboard</a></li>
                <li ng-class="{active : location == '/about'}"><a ng-href="#/about"><i class="icon fui-info-circle"></i>About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown"><i class="icon fui-gear"></i> Settings <b class="caret"></b></a>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu">
                        <li ng-class="{active : location == '/mySettings'}"><a ng-href="#/mySettings">My Settings</a></li>
                        <li ng-click="logout()"><a>Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
    <!--END: Mobile/tablet nav -->
</div>