<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    	<h1 class="title text-center"></h1>

		<p></p>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form>
            <div class="form-group">
                <input type="text" class="form-control input-lg" placeholder="enter your email" name="email" />
            </div>

            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" placeholder="zip code" name="zip" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><img src="/images/locationArrow.png" /></button>
                    </span>
                </div>
            </div>
            
            <button type="button" class="btn btn-primary btn-lg btn-block">Let's Go!</button>
        </form>
	</div>
</div>