<div ng-show='electedId==curRep'>
  <div class="row-fluid clearfix loading loading32" ng-hide="data.loaded"></div>
  <div class="row-fluid clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <span class="glyphicon glyphicon-option-horizontal"></span>
    </div>
  </div>

  <div class="row-fluid clearfix" ng-repeat="(eventNumber, eventData) in data | orderBy:'-created'">
    <div class="tile col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">

      <table class="" width="100%">
        <tr>

          <td style="vertical-align:top;" width="15%" >
            <small style="color:#bfbfbf">{{eventData.date}}</small>
          </td>

          <td width="70%" align="left">
            <h6 style="margin-top:0px;"><a ng-href="{{eventData.url}}" target="_blank">{{eventData.description}}</a></h6>
          </td>

          <td width="15%" style="vertical-align:top;">
            <div ng-cloak ng-show="eventData.comment">
              <i ng-cloak ng-hide="eventData.comment.voteValue != 'Yea'" class="fui-check lead green"></i>
              <i class="fui-cross lead red" ng-cloak ng-hide="eventData.comment.voteValue != 'Nay'"></i>
              <strong class="glyphicon glyphicon-minus" ng-cloak ng-hide="eventData.comment.voteValue == 'Yea' || eventData.comment.voteValue == 'Nay'" class="lead"></strong>
              <div><span><strong>Vote:</strong>{{eventData.comment.voteValue}}</span></div>
            </div>
            <div ng-cloak ng-hide="eventData.comment">
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-center">
                <div style="margin-top:19px;" class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate" ng-click="toggleVote(index, thisBill)" ng-class="{'bootstrap-switch-on': setting.enabled, 'bootstrap-switch-off': !setting.enabled}">
                  <div class="bootstrap-switch-container">
                    <span class="bootstrap-switch-handle-on bootstrap-switch-primary">ON</span>
                    <label class="bootstrap-switch-label">&nbsp;</label>
                    <span class="bootstrap-switch-handle-off bootstrap-switch-default">OFF</span>
                    <input type="checkbox" data-toggle="switch">
                  </div>
                </div>
              </div>
            </div>

          </td>
        </tr>

        <tr ng-cloak>
          <td colspan="1">
              <img class="commentProfilePic" ng-src="/images/profilePic{{repInfo.firstname}}{{repInfo.lastname}}256.jpg" />
          </td>
          <td colspan="2">
            <!-- if there is already a comment, allow editing -->
            <div ng-cloak ng-show="eventData.comment">
              <img class="" style="width:32px;height:32px;float:left;margin-right:10px;border-radius:32px;" ng-src="/images/profilePic{{repInfo.firstname}}{{repInfo.lastname}}256.jpg" />
              <div ng-hide="eventData.editing">
                <div class="comment">
                  <p>{{eventData.comment.content}}</p>
                  <small style="color:#bfbfbf">
                    {{eventData.comment.datetime | date:'dd MMM yyyy (h:mm a)' || ''}}
                  </small>
                <button ng-value="eventData.comment.content" ng-click="editComment(eventNumber, eventData)" type="button" class="btn btn-primary btn-lg btn-block">Edit Comment</button>
                </div>
              </div>
            </div>
            <div ng-show="eventData.editing" class="comment comment-box">
                <div class="form-group">
                <textarea ng-model="eventData.comment.content" type="text-box" class="form-control" placeholder="Add reason for vote" rows="3"></textarea>
                </div>
                <button ng-click="addComment(eventNumber, eventData)" type="button" class="btn btn-primary btn-lg btn-block">Save</button>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div ng-show="electedId!=curRep">
  <span> You do not have permissions to add comments for this representative. If this is a mistake, please contact us.</span>
</div>